<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity android:name="com.openakita.nativeauth.AuthorizationActivity"
            android:exported="false" android:launchMode="singleTask"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity android:name="com.openakita.nativeauth.RedirectActivity" android:exported="true"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="https" android:host="account.openakita.cn" android:path="/oauth/mobile/callback" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="com.openakita.mobile" />
            </intent-filter>
        </activity>
    </application>
</manifest>
